
.wk{
    margin: 0;
}
.card-head h2{
	color: white;
    font-weight: normal;
    font-size: 120%;
    margin: 0;
}
#see_more{
	margin: -10px 0px 0px 0px;
    text-align: center;
	text-decoration: underline;
	cursor:pointer;
}
.card-content{
	margin: 10px 0px 0px 0px;
}
.kalender{
	margin-left: -20px;
    margin-right: -20px;
}
.card{
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
    margin-bottom: 15px;
}
.col-s3{
	display: inline-block;
}
.col-s6{
    margin-top: 5px;
    display: inline-block;
    width: 49%;
}
.col-s8{
    margin-top: 5px;
    display: inline-block;
    width: 66%;
}
.col-s4{
    margin-top: 5px;
    display: inline-block;
    width: 23%;
}
.btn-arr{
	background-color: #fc5c65;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    width: 40px;
	cursor:pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.btn-arr:hover{
	background-color: #7b1b20;
}
.material-icons{
    position: absolute;
    margin-top: -12px;
    margin-left: -11px;
}
.card-tabs{
    color: white;
    text-align: left;
    font-size: 90%;
    padding: 15px 0px;
    background-color: #fc5c65;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    padding-left: 10px;
}
table.cal_table{
	border-collapse: collapse;
	width:100%;
}
table td:hover{
    background-color: #ddd !important;;
    cursor:pointer;
}
table, th, td {
	text-align:center !important;
	color: #37474f;
	padding: 7px 5px;
}

table.cal_table > tbody > tr > td:hover {
	background-color: #fafafa;
}
th.day{
	color: #2196f3;
}
div.card-head{
	border-radius: 2px 2px 0px 0px;
    text-align: center;
    padding: 15px 0px; 
    color: white;
	background-color: #fc5c65;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 10px 10px 0px 0px;
}
div.card-head .card-title{
	font-size:20px;
}
div.no-margin{
	margin-bottom: 0px;
	display: block;
}

span.det{
	display:none; 
}
p.h-date{
	font-size:20px;
	margin: auto;
	font-family: 'Amiri', serif !important;
	margin: 0px 5px;
}
p.m-date{
	font-size: 180%;
    font-weight: bold;
	margin: auto;
}
#setbulan{
	text-align: center;
    font-size: 90%;
    padding: 15px 0px;
    background-color: #ffcccf;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
}

.list{
    padding: 5px 10px;
    background: #efefef;
    margin-bottom: 5px;
}

.col-0 .m-date{
	color: #f44336;
}

.col-5 .m-date{
	color: #4caf50;
}

#output_primwuku img{
	width:100%;
}
#output_primwuku p span{
	font-weight:bold;
}
.collection{
    margin-top:10px !important;
}
#go_year{
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #4d626e !important;
    border: none;
    color: white !important;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
blockquote{
    font-size: 100% !important;
    padding: 10px 0px 10px 20px!important;
}
blockquote:before{
    font-size:50px !important;
    left: -5px !important;
    top: -12px !important;
}
#sc{
    font-size: 80%;
    text-align:center;
    margin: 15px 0px;
}
@media only screen and (max-width: 600px) {
    table.cal_table {
        font-size:80%;
    }   
}
@media only screen and (max-width: 400px) {
    table.cal_table {
        font-size:70%;
    }  
    table td{
        padding: 8px 0px;
    }
	.btn-arr{
		width:30px;
		height:30px;
	}
}

